@{
    ViewBag.Title = "О блоге";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация</h2>

<p>
    «ProgBlog» — Ресурс для IT-специалистов, появившийся в 2018-м году.
</p>
<p>
    «ProgBlog» одинаково интересен программистам и разработчикам, администраторам и
    тестировщикам, дизайнерам и верстальщикам, аналитикам и копирайтерам, а также всем тем,
    для кого IT — это не просто две буквы алфавита.
</p>