@model JustBlog.Models.ListViewModel

@if (Model.Posts.Count > 0)
{
    <h2>
        @ViewBag.Title
    </h2>

    foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostTemplate", post)
    }
}
else
{
    <p>
        Постов не найдено
        <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/google/133/disappointed-face_1f61e.png" alt="😞" title="Sad Face" width="72" height="72">
    </p>
}

<script id="dsq-count-scr"
        src="//@(@System.Configuration.ConfigurationManager.AppSettings["Domain"]).disqus.com/count.js"
        async>
</script>