@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ресурс не найден</title>
    @Styles.Render("~/Scripts/404/css")
    @Scripts.Render("~/Scripts/404/js")
</head>
<body>
    <div id="fof">
        <div></div>
        <canvas></canvas>
        <h1>Вы не должны быть здесь... @Html.ActionLink("Домой", "Posts", "Blog")</h1>
    </div>
</body>
</html>